name: Build and Deploy to Azure WebApp

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:${{ github.sha }} .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:${{ github.sha }}
          docker tag ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:${{ github.sha }} ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:latest
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:latest

      - name: Configure WebApp container
        run: |
          az webapp config container set \
            --name ${{ secrets.WEBAPP_NAME }} \
            --resource-group ${{ secrets.RESOURCE_GROUP }} \
            --container-image-name ${{ secrets.ACR_LOGIN_SERVER }}/churn-api:latest \
            --container-registry-url https://${{ secrets.ACR_LOGIN_SERVER }}

      - name: Restart WebApp
        run: |
          az webapp restart --name ${{ secrets.WEBAPP_NAME }} --resource-group ${{ secrets.RESOURCE_GROUP }}
